
.btn-accuracy {
    position: absolute;
    top: 10px;
    right: 10px;
}
.modal-wrapper {
    display: grid;
    gap: 20px;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
}
.price-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.price-item {
    width: 132px;
    height: 100px;
    border-radius: 16px;
}
 

.feature-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
}
.modal-left {
    background: rgba(235, 87, 87, 0.05);
    border: 1px solid #EB5757;
    border-radius: 16px;
}
.modal-right { 
    border-radius: 16px;
}
.btn-close {
    position: absolute;
    top: 0;
    right: 0;
}
ol, ul {
    padding-left: 0px;
}
.modal-box {
    padding: 80px;
}
.universe-img {
    height: 200px;
}

.universe-img img {
    height: 100%;
    width: 100%;
}

/* Responsive css */
@media only screen and (max-width: 767px) {
    .price-wrapper {
        grid-template-columns: repeat(2, 1fr); 
    }
    .modal-wrapper { 
        grid-template-columns: repeat(1, 1fr);
    }
    .modal-box {
        padding: 20px;
    }
    .feature-wrapper { 
        flex-wrap: wrap;
    }

}